
h1{

	color:red;
	font-size: 16px;
	font-weight:500;
	font-family: Arial;
	background-color: #000000;

}

img{
	border:blue 1px solid;

}

p{
	color:yellow;
	font-size: 14px;
}

h1{

	color:black;
	font-size: 16px;

}

